.Home {
  width: 100%;
  background: rgb(29, 29, 29);
  color: white;
  padding-bottom: 10%;
  .title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
    a {
      color: grey;
      font-weight: 600;
      font-size: 80%;
    }
  }
  ul {
    list-style: none;
    li {
      display: flex;
      justify-content: space-between;
      width: 100%;
      .inbox {
        width: 100%;
        height: 40vh;
        background: rgb(20, 20, 20);
        display: block;
        padding: 25px;
        margin-right: 20px;
        border-radius: 10px;
        transition: all 0.5s;
        position: relative;
        cursor: pointer;
        overflow: hidden;
        .image {
          width: 100%;
          position: relative;
          img {
            border-radius: 10px;
            width: 100%;
          }
          span {
            position: absolute;
            bottom: -10%;
            font-size: 250%;
            color: #1db954;
            right: 10%;
            transition: all 0.5s;
            opacity: 0;
          }
        }
        h4 {
        }
        p {
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          overflow: hidden;
          text-overflow: ellipsis;
        }
        &:hover {
          background: rgb(27, 26, 26);
          span {
            transform: translateY(-50px);
            opacity: 1;
          }
        }
      }
    }
  }
}
